PORT=5001
NODE_ENV=development

JWT_ACCESS_SECRET=your-super-secret-access-key-minimum-32-characters
JWT_REFRESH_SECRET=your-super-secret-refresh-key-minimum-32-characters

JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d

GEMINI_API_KEY='Your gemini api key here'

DATABASE_URL= 'Your dabase url here'

CLIENT_URL=http://localhost:3000
# CLIENT_URL=http://10.145.37.203:3000